<nav class="max-w-full flex">
    <ul class="mx-auto flex gap-4">
        <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="font-bold bg-amber-200" class="tracking-wide p-2 rounded">Dashboard</a>
        </li>
        <li>
            <a [routerLink]="['/addTodo']" routerLinkActive="font-bold bg-amber-200" class="tracking-wide p-2 rounded">Add Todo</a>
        </li>
        <button type="button" (click)="logout()" class="-mt-2 font-semibold uppercase px-4 py-2 text-sm text-center text-white bg-sky-700 rounded-md tracking-wider hover:ring-4 focus:ring-4">Logout</button>
    </ul>
</nav>

<router-outlet></router-outlet>
